
#pageChanger {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    list-style-type: none;
    align-items: center;
}

#pageChanger ul {
    list-style-type: none;

}

.tab-wrapper{

    padding: 0;
    border: 2px solid lightgrey;
    border-radius: 10px;
    margin-top: 20px;
    min-height: 35px;
    min-width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tab-wrapper li{
    /* transform: rotate(-180deg);*/
}

@charset "UTF-8";
input[type=radio] {
    position: absolute;
    left: -9999px;
    opacity: 0;
}
.card-wrapper {
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    padding: 5rem;
    border: 2px solid lightgray;
    border-top: none;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.card {
    border: 2px solid #d6dde3;
    border-radius: 4px;
    height: 100%;
    width: 100%;
    padding: 2rem 5rem;
    cursor: pointer;
    position: relative;
}
.card:hover {
    border-color: rgba(48, 150, 213, 0.5);
}

input[type=radio]:checked + .card {
    border: 2px solid #3096d5;
    background-color: rgba(0, 0, 0, 0.025);
}
input[type=radio]:checked + .card::before {
    --size: 1.8rem;
    --half-size: calc(-1 * var(--size) / 2);
    position: absolute;
    content: "\1F5F8";

    top: var(--half-size);
    right: var(--half-size);
    width: var(--size);
    height: var(--size);
    padding: 0.2rem 0;
    background: #3096d5;
    color: #fff;
    border-radius: 50%;
    text-align: center;
}